.btn-flat {
  color: white;
  padding: 8px 40px;
  border-radius: 4px;
  background: #f19233;
  transition: color 0.4s ease;
}

.btn-flat:hover {
  color: black;
}


.btn-flat-sm {
  color: white;
  padding: 4px 12px;
  border-radius: 4px;
  background: #f19233;
  transition: color 0.4s ease;
  height: 32px;
  margin-left: 20px;
}

.btn-flat:hover {
  color: black;
}

.btn-cancel {
  color: white;
  padding: 8px 56px;
  border-radius: 4px;
  background: #f19233;
  transition: color 0.4s ease;
  margin-left: 20px;
}
