
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;

}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-category{
    text-align: center;
}

.card-category img {
  max-width: 100%;
  object-fit: cover;
}

.card-category a {
  text-decoration: none;
  color: #babbba;
  font-size: 24px;

}

.container h2 {
//  text-align: center;
  margin-top: 12px;
  padding: 24px;
  font-size: 32px;
  font-weight: 500;
  padding-left: 0;
  color: #babbba;
}

.card-info {
  color: white;
}

.card-description {
  padding-left :30px;
}

.card-description li {
  list-style: none;
  padding-bottom: 20px;
}

.card-description ul {
  padding: 0;
}

.card-description h2 {
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}

// .card-description p {
//   border-bottom: 1px solid #fff;
// }

.card-description a {
  text-decoration: none;
  color: #fff;

}

.links {
  width: 400px;
}
